body{
    margin:0;
    font-family:Poppins;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2px 5px;
    background:#111;
    color:white;
     border-radius: 20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

header {
    height: 100vh;
    width: 100%;
    background: url("resstaurant.png") center/cover no-repeat;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 200px;
}
.btn{
    background:orange;
    padding:12px 25px;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.menu {
    display: block;
}

.card{
    background:white;
    padding:20px;
    width:200px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    border-radius:10px;
    text-align:center;
}
body {
    font-family: 'Georgia', serif;
    background-color: #efefe4;
    margin: 0;
    padding: 40px;
    color: #2f4f2f;
}

.menu-tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.menu-tabs button {
    border: 2px solid #2f6b3f;
    background: transparent;
    padding: 12px 25px;
    color: #2f6b3f;
    font-weight: bold;
}

.section-title {
    font-size: 30px;
    color: #d4a017;
    font-style: italic;
    margin: 30px 0 20px;
}

.menu {
    display: block;
}

.menu-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.item-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
}

.price {
    color: #2f6b3f;
}

.description {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.6;
}
.gallery {
    text-align: center;
    padding: 40px;
}

.gallery h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: Georgia;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}
.reservation {
    text-align: center;
    padding: 50px;
}

.reservation h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: Georgia;
}

.reservation-form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reservation-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.reservation-form button {
    padding: 12px;
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.reservation-form button:hover {
    background-color: #58a14b;
}
.contact {
    text-align: center;
    padding: 50px;
}

.contact h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: Georgia;
}

.contact-box {
    background-color: #f5f5f5;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-box p {
    font-size: 18px;
    margin: 10px 0;
}